*{
    margin: 0px;
    margin-right:0px;
    box-sizing: border-box;
    padding: 0px;
}
body{
    background-color: black;
}
.logo img{
    
    height: 85px;
    width: 85px;
}
.logo h2{
    color: white;
    font-family: 'Balsamiq Sans', cursive;
   
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo p{
    color: white;
}
.logo h5{
    position: absolute;
    left:700px;
    top:55px;
}
.info {
    position: absolute;
    left:1030px;
    top:15px;
}
.info1 {
    position: absolute;
    left:1050px;
    top:36px;
}

ul li{
    display: inline-block;
    
}

ul li a:hover{
    background-color:rgb(252, 248, 248);
    color:rgb(10, 0, 0);
}
ul li.active a{
    background-color: rgb(247, 244, 244);
    color: rgb(5, 0, 0);
}
nav a{
    color: black;
}
header{
    padding-bottom : 10px; 
    background-color: black;
}
.offer{
    position: absolute;
    left:900px;
    top:150px;
}
.A{
    color: rgb(233, 70, 41);
    font-size: medium;
    position: absolute;
    left:775px;
    top:200px;
}
.B{
    color:rgb(233, 70, 41);
    font-size: medium;
    position: absolute;
    left:800px;
    top:220px;
}
ul li a{
    text-decoration: none;
    color: rgb(250, 249, 249);
    padding: 5px 20px;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Caveat', cursive;
    margin-left: 20px; 
}
.topic{
    color: cornsilk;
    font-size: medium;
    margin-left: 3px;
    font-family: 'Shadows Into Light', cursive;
}
.H{
    color: rgb(73, 150, 107);
    text-align: center;
    font-family: 'Fredoka One', cursive;
}
.HY{
    color:whitesmoke;
    text-align: center;
}
.row{
    display:flex;
    justify-content: space-evenly;
    overflow-y: hidden;
}

.row .y1 > img {
    margin: 10px;
    transition: transform 0.4s;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px   rgb(233, 245, 124);
}
.row .y2 > img {
    margin: 10px;
    transition: transform 0.4s;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px   rgb(233, 245, 124);
}
.row .y3 > img {
    margin: 10px;
    transition: transform 0.4s;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px   rgb(233, 245, 124);
}
.row .y4 > img {
    margin: 10px;
    transition: transform 0.4s;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px   rgb(233, 245, 124);
}
.row .y5 > img {
    margin: 10px;
    transition: transform 0.4s;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px  rgb(233, 245, 124);
}
.row > img:hover {
    transform: scale(1.1);
}
::-webkit-scrollbar {
    display: none;
}
.y1{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(73, 150, 107);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.y2{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:rgb(73, 150, 107);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.y3{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(73, 150, 107);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.y4{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(73, 150, 107);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.y5{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(73, 150, 107);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
}
.row1{
    display:flex;
    justify-content: space-evenly;
    overflow-y: hidden;
}

.row1 .x1 > img {
    margin: 10px;
    transition: transform 0.4s;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px   rgb(233, 245, 124);
}
.row1 .x2 > img {
    margin: 10px;
    transition: transform 0.4s;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px   rgb(233, 245, 124);
}
.row1 .x3 > img {
    margin: 10px;
    transition: transform 0.4s;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px   rgb(233, 245, 124);
}
.row1 .x4 > img {
    margin: 10px;
    transition: transform 0.4s;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px   rgb(233, 245, 124);
}
.row1 .x5 > img {
    margin: 10px;
    transition: transform 0.4s;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 2px  rgb(233, 245, 124);
}
.row1 > img:hover {
    transform: scale(1.1);
}
::-webkit-scrollbar {
    display: none;
}
.x1{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(73, 150, 107);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: medium;
}
.x2{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:rgb(73, 150, 107);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: medium;
}
.x3{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(73, 150, 107);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: medium;
}
.x4{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(73, 150, 107);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: medium;
}
.x5{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: rgb(73, 150, 107);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    font-size: medium;
}
@media (max-width:320px) and (max-width:480px){
    *{
    margin: 0px;
    margin-right:0px;
    box-sizing: border-box;
    padding: 0px;
}
    .row{
        width:100%;
    }
    .row1{
        width:100%
    }
    header{
        width:100%;
    }
}
